@font-face {
  font-family: MADELikesSlab;
  src: local("MADELikesSlab"),
  url(../texts/madelikesslab.ttf);
}
body{
  background-image: url(https://wallpapertag.com/wallpaper/full/2/f/9/371053-top-zelda-backgrounds-1920x1080-for-retina.jpg);
  background-size: cover;
  font-family: MADELikesSlab;
}
p{
  color: Gold;
}
